.section-gallery {
   background-color: #ffe92f;
   padding: 80px 0 120px;
   text-align: center;

   @media (max-width: $screen-sm-max) {
      padding: 40px 0;
   }

   &__title {
      margin-bottom: 20px;

      @media (max-width: $screen-sm-max) {
         font-size: 50px;
         margin-bottom: 10px;
      }

      @media (max-width: $screen-xs-max) {
         font-size: 30px;
         margin-bottom: 10px;
      }
   }

   &__lead {
      max-width: 600px;
      margin: 0 auto 45px;
   }
}

.gallery {
   margin-bottom: 42px;

   @media (max-width: $screen-md-max) {
      margin-bottom: 30px;
   }

   &__item {
      margin-bottom: 30px;
   }
}
