a,
button,
input {
   outline: none;
}

.btn {
   display: inline-flex;
   justify-content: center;
   box-shadow: 0 0 0 3px transparent;
   min-width: 200px;
   text-transform: uppercase;
   font-size: 20px;
   color: $color-text-light;
   padding: 14px 20px;
   border: 1px solid transparent;
   position: relative;
   -webkit-tap-highlight-color: transparent;

   &--orange {
      background-color: #ff6033;

      &:focus {
         box-shadow: 0 0 0 3px rgba(mix($color-text-light, #ff6033, 15%), 0.5);
      }

      &:hover {
         color: #ff6033;
         background-color: $color-text-light;
         border-color: #ff6033;
      }

      &:active {
         background-color: darken($color-text-light, 10%);
      }
   }

   &--grey {
      background-color: #5585a2;

      &:focus {
         box-shadow: 0 0 0 3px rgba(mix($color-text-light, #5585a2, 15%), 0.5);
      }

      &:hover {
         color: #5585a2;
         background-color: $color-text-light;
         border-color: #5585a2;
      }

      &:active {
         background-color: darken($color-text-light, 10%);
      }
   }

   &--green {
      background-color: #96b92c;

      &:focus {
         box-shadow: 0 0 0 3px rgba(mix($color-text-light, #96b92c, 15%), 0.5);
      }

      &:hover {
         color: #96b92c;
         background-color: $color-text-light;
         border-color: #96b92c;
      }

      &:active {
         background-color: darken($color-text-light, 10%);
      }
   }

   &--red {
      background-color: #f72b3b;

      &:focus {
         box-shadow: 0 0 0 3px rgba(mix(#f72b3b, $color-text-light, 15%), 0.5);
      }

      &:hover {
         color: #f72b3b;
         background-color: $color-text-light;
         border-color: #f72b3b;
      }

      &:active {
         background-color: darken($color-text-light, 10%);
      }
   }
}

.btn-scroll {
   display: block;
   width: 24px;
   height: 40px;
   border: 2px solid #262626;
   border-radius: 40%;
   margin: auto;
   box-shadow: 0 0 0 3px transparent;

   &:before {
      @include pseudo;
      width: 3px;
      height: 11px;
      background-color: #000;
      left: 50%;
      transform: translate(-50%, 50%);
   }

   &:focus {
      box-shadow: 0 0 0 3px rgba(#262626, 0.5);
   }

   &:hover {
      opacity: 0.5;
   }
   &:active {
      border-radius: 20%;
   }
}

.form {
   &__field {
      padding: 17px;
      font-size: 15px;
   }
}

@import "_burger-btn";
