
.footer {
   background-color: $color-text-dark;
   color: #b9b9b9;
   padding: 30px 0;

   &__item {
      display: block;
      @media (max-width: $screen-xs-max) {
         margin-bottom: 10px;
      }
   }

   &__copyright {
      font-size: 16px;
      @media (max-width: $screen-md-max) {
         text-align: center;
      }
   }

   &__text-author {
      font-size: 15px;
      text-align: right;
      @media (max-width: $screen-md-max) {
         text-align: center;
      }
   }

   &__link {
      color: #f12b55;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }

      &:active {
         background-color: #ee7897;
      }
   }
}
